/* src/styles/styles.css */

body {
    background-color: #0033cc; /* Color de fondo azul */
  }
  
  header {
    background-color: #0033cc; /* Color de fondo del encabezado */
  }
  
  .nav a {
    color: white; /* Color de los enlaces de navegación */
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .nav a:hover {
    color: #b3b3b3; /* Color de los enlaces de navegación al pasar el mouse */
  }
  
  .rounded-full img {
    border-radius: 50%; /* Hace que la imagen del logo sea circular */
  }
  
  /* Estilos adicionales para la capacidad de respuesta y el diseño */
  @media (max-width: 768px) {
    .nav ul {
      display: none; /* Ocultar enlaces de navegación en pantallas pequeñas */
    }
  
    #menubar {
      display: block; /* Mostrar ícono de la barra de menú en pantallas pequeñas */
    }
  }
  